<div class="d-flex flex-sm-column flex-lg-row flex-wrap justify-content-around  align-items-center">
  <div class="col-sm-8 col-lg-5 align-items-center order-sm-2 order-lg-1">
    <%= image_tag "devise-sign_up.jpg", alt: "Sample image", style:"width: 100%" %>
  </div>
  <div class="flex-column col-lg-3 col-sm-5 m-5 order-sm-1 order-lg-2">
    <h2>Inscription</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-3">
        <%= f.label :email,"Adresse email:", class:"form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"ex: jean@email.com" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password,"Mot de passe", class:"form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"entrez un mot de passe" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password_confirmation,"Confirmer votre mot de passe", class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"confirmez le mot de passe" %>
      </div>

      <div class="actions mb-2 mt-3">
        <%= f.submit "Sign up", class:"btn btn-lg btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>