<div class="container h-100 py-2">
  <div class="mb-2">
    <%= link_to "Retour au profil", artist_profile_path %>
  </div>

  <div class="card mb-5">
    <div class="card-body">
      <h3 class="mb-0 text-white card-title">Modifier mon profil Artiste : </h3>
      <div class=" d-flex flex-sm-column flex-lg-row flex-wrap justify-content-around mb-2">
        <div class="flex-column col-sm-11 col-lg-5 mx-2">
          <%= form_with(url: artist_profile_path(@artist_profile.id), method: "patch", local: true) do |f| %>

            <fieldset>
              <div class="form-group">
                <%= f.label :name, "Mon nom d'artiste", class: "form-label mt-4" %>
                <%= f.text_field :name, class: "form-control", value: @artist_profile.name %>
              </div>

              <div class="form-group">
                <%= f.label :description, "Je me présente, en quelques mots :", class: "form-label mt-4" %>
                <%= f.text_area :description, class: "form-control", value: @artist_profile.description %>
              </div> 

              <div class="form-group">
                <%= f.label :zipcode, "Code Postal", class: "form-label mt-4" %>
                <%= f.text_field :zipcode, class: "form-control", value: @artist_profile.zipcode %>
              </div>

              <div class="form-group">
                <%= f.label :city, "Ma ville", class: "form-label mt-4" %>
                <%= f.text_field :city, class: "form-control", value: @artist_profile.city %>
              </div>

              <div class="form-group">
                <%= f.label :artistpict, "Image", class: "form-label mt-4"%>
                <em>(< 5 MB)</em>
                <%= f.file_field :artistpict, class:"form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :spotifyID, "Lien de ma page Spotify", class: "form-label mt-4" %>
                <%= f.text_field :spotifyID, class: "form-control", value: "https://open.spotify.com/artist/#{@artist_profile.spotifyID}" %>
              </div>

              <div class="d-flex justify-content-center mt-4 mb-2">
                <%= f.submit "Modifier mon profil", class: "btn btn-primary" %>
              </div>

            </fieldset>

          <% end %>
        </div>
        <div class="align-items-center col-sm-11 col-lg-5 mx-2 my-auto">
        <% if @artist_profile.artistpict.attached? %>
          <%= image_tag @artist_profile.artistpict, alt: "artist picture", style: "width: 100%"%>
        <% else %>
          <%= image_tag "artist_profile.png", alt: "artist picture", style: "width: 100%"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
