        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                            <%= image_tag 'artist_profile.jpg', class:"card-img-top mb-5 mb-md-0"%>
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">Votre nom d'artiste ou de groupe: <%= @artist_profiles.name %></h1>
                        <p class="lead">Une description de vous: <%= @artist_profiles.description %></p>
                        <div class="small mb-1">Votre ville: <%= @artist_profiles.city %></div>
                        <div class="small mb-1">Son zipcode: <%= @artist_profiles.zipcode %></div>
                    </div>
                </div>
            </div>
        </section>