<div class="container h-100 py-2">
  <div class="mb-4">
    <% if current_user.is_artist %>
      <%= link_to "Retour au dashboard", dashboard_path(current_user.id) %>
    <% else %>
      <%= link_to "Retour à la liste", artist_profiles_path %>
    <% end %>
  </div>
  <div class="container mt-4 card p-0 mb-5">
    <div class="event_header d-flex flex-row flex-wrap">
      <div class="col-md-8 p-0">
        <% if @artist_profile.artistpict.attached? %>
          <%= image_tag @artist_profile.artistpict, alt: "venue picture", style: "width: 100%; border-top-left-radius: 8px"%>
        <% else %>
          <%= image_tag "artist_profile.png", alt: "venue picture", style: "width: 100%; border-top-left-radius: 8px"%>
        <% end %>
      </div>
      <div class="col-md-4 p-3 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-4"><%= @artist_profile.name %></h1>
        <h3>contact: <%= @artist_profile.user.email%></h3>
        <h4><%= @artist_profile.city%> ( <%= @artist_profile.zip_city %>)</h4>
      </div>
    </div>
    <div class=" d-flex flex-row flex-wrap" style="border-bottom: 1px solid rgba(255, 255, 255, 0.231); border-top: 1px solid rgba(255, 255, 255, 0.231)" >
      <% if @artist_profile.spotifyID %>
      <div class="col-lg-8 col-md-4  d-sm-block">
        <div class="d-inline-flex flex-wrap align-items-center my-3 mx-4 me-5 bg-dark p-1">
          
          <%= image_tag "Spotify_Icon_RGB_Green", style:"width: 9%;", class:"mx-2" %>
          <%= audio_tag(@track.preview_url, controls: true) %>
          <%= link_to "Page Spotify" ,"https://open.spotify.com/artist/#{@artist_profile.spotifyID}", class:"ms-lg-5 btn btn-outline-spotify", target: :_blank %>
          </div>
        </div>
          <% else %>
            <div class="col-lg-8 col-md-4 d-none  d-sm-block"></div>
          <% end %>
      <div class="col-lg-4 col-md-8 p-3">
        <% if current_user.id == @artist_profile.user_id %>
          <%= link_to "Modifier mon profil", edit_artist_profile_path, class:"btn btn-lg btn-primary" %>
        <% elsif current_user.is_venue? %>
          <%= button_to "contacter", conversations_path, class: "btn btn-lg btn-primary", params: { sender_id: current_user.id, recipient_id: @artist_profile.user.id } %>
        <% end %>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-8 p-4">
        <h3>A propos</h3>
        <p><%= @artist_profile.description%></p>
      </div>
      <div class="col-md-4 p-3 ">
        <p>
          <% @artist_profile.genres.each do |genre| %>
            <%= genre.title %>
          <% end %>
        </p>
        <p>
          <% if current_user.id == @artist_profile.user_id %>
            <%= link_to "Modifier mes genres", new_artist_genre_path, class:"btn btn-secondary btn-sm" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
