<div class="container-fluid text-center py-3">
  <h1>Commence à démarcher !</h1>
  <p class="lead">Trouve l'établissement qui t'offrira ta prochaine scène</p>
</div>

<div class="ms-auto me-2 mt-4 row">
  <%= form_tag(venue_profiles_path, method: "get", class: "row") do %>
    <div class="col-8">
      <%= select_tag(:dpt, options_for_select(departements_select), {:class => 'form-select'}) %>
    </div>
    <div class="col-4">
      <%= submit_tag("Filtrer", {:class => 'btn btn-primary'}) %>
    </div>
  <% end %>
</div>

<div class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">

    <% @venue_profiles.each do |venue| %>
      <div class="col pb-3">
        <div class="card border-light h-100">
          <h3 class="card-header"><%= venue.name %></h3>
          <div class="card-body">
            <h5 class="card-title"><%= venue.type_of_location %></h5>
            <h6 class="card-subtitle text-muted">capacité d'accueil: <%= venue.capacity %> personnes</h6>
          </div>
          <% if venue.venuepict.attached? %>
            <%= image_tag venue.venuepict, alt: "venue picture", style: "width: 100%"%>
          <% else %>
            <%= image_tag "venue_profile.png", alt: "venue picture", style: "width: 100%"%>
          <% end %>
          <div class="card-body">
            <p class="card-text">
            <%= venue.description_display %>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom"><%= venue.address %></li>
            <li class="list-group-item"><%= venue.zipcode %>, <%= venue.city %></li>
          </ul>
          <div class="card-body">
            <%= link_to "détails", venue_profile_path(venue.id) %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>