<div class="container h-100 py-2">
  <div class="mb-2">
    <%= link_to "Retour", :back %>
  </div>
  <div class="mb-3">
    <h3 class="mb-0 text-white">Je crée mon profil Établissement : </h3>
  </div>
  <div class="card rounded-3 mb-5">
    <div class="card-body d-flex flex-sm-column flex-lg-row flex-wrap justify-content-around">
      <div class="flex-column col-sm-11 col-lg-5 mx-2">
        <%= form_with url: venue_profiles_path, method: :post, local: true do |f| %>

          <fieldset>  
            <div class="form-group">
              <%= f.label :name, "Le nom de mon établissement", class: "form-label mt-4" %>
              <%= f.text_field :name, class: "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <%= f.label :description, "Je présente mon établissement, en quelques mots :", class: "form-label mt-4" %>
              <%= f.text_area :description, class: "form-control" %>
            </div> 

            <div class="form-group">
              <%= f.label :type_if_location, "Le type de mon établissement", class: "form-label mt-4" %>
              <%= f.select(:type_of_location, [ 'Bar', 'Restaurant', 'Brasserie', 'Hotel', 'Cabaret', 'Musée', 'Salle de danse', 'Salle de spectacles', "Établissement d'enseignement", "Établissement sportifs", "Salle de culte" ], {}, { :class => "form-select", :id => "exampleSelect1" }) %>
            </div>

          
            <div class="form-group">
              <%= f.label :capacity, "La capacité d'accueil de mon établissement", class: "form-label mt-4" %>
              <%= f.number_field :capacity, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :address, "Où se trouve mon établissement", class: "form-label mt-4" %>
              <%= f.text_field :address, class: "form-control", placeholder: "rue et numéro de rue" %>
            </div>
  
            <div class="form-group">
              <%= f.label :zipcode, "Code Postal", class: "form-label mt-4" %>
              <%= f.text_field :zipcode, class: "form-control", placeholder: "31000, 34000, 69001... " %>
            </div>

            <div class="form-group">
              <%= f.label :city, "Ma ville", class: "form-label mt-4" %>
              <%= f.text_field :city, class: "form-control", placeholder: "Toulouse, Montpellier, Lyon... les autres comptent aussi aussi!" %>
            </div>

            <div class="d-flex justify-content-center mt-4 mb-2">
              <%= f.submit "Je valide", class: "btn btn-primary" %>
            </div>

          </fieldset>
        <% end %>
      </div>
      <div class="align-items-center col-sm-11 col-lg-5 mx-2 my-auto">
        <%= image_tag "new_venue_profile.jpg", style: "width: 100%"%>
      </div>
    </div>
  </div>
</div>