<div class="container h-100 py-2">
  <div class="mb-3">
    <%= link_to "Retour", :back %>
    <br>
    <br>
    <h3 class="mb-0 text-white">Voici mon profil: </h3>
  </div>

<div class="card rounded-3 mb-8">
  <div class="card-body d-flex flex-sm-column flex-lg-row flex-wrap justify-content-around">
    <div class="flex-column col-sm-11 col-lg-5 mx-2 mt-3">
      <div>
        <h3>Le nom de mon établissement: </h3>
        <h3 class="text-center"><%= @venue_profile.name %> </h3>
      </div>  
      <div class="pt-2 pb-2">
        <h3>Ma description: </h3>
        <p class="text-justify"><%= @venue_profile.description%> </p>
      </div> 
      <div> 
        <h6>Le type de mon établissement:  <%= @venue_profile.type_of_location%></h6>
      </div>  <div> 
        <h6>La capacité d'accueil de mon établissement: <%= @venue_profile.capacity%> places disponibles</h6>
      </div>  
      <div class= "pt-2">
        <h3>Les coordonnées de mon établissement: </h3>
        <h6>N° et type de voie: <%= @venue_profile.address%></h6>
        <h6>Ville: <%= @venue_profile.city%></h6>
        <h6>code postal: <%= @venue_profile.zipcode%></h6>
      </div>          
      </div>
      <div class="align-items-center col-sm-11 col-lg-5 mx-2 my-auto">
        <%= image_tag "venue.jpg", style: "width: 100%"%>
      </div>
    </div>
  </div>
</div>
