<div class="container-fluid text-center py-3 mt-2">
  <h1>Bienvenue sur votre espace !</h1>
    <%= link_to "Créer un nouvel évènement", new_performance_path, class:"btn btn-primary btn-lg px-5 my-3 mx-1" %>
  <p class="lead">Naviguez avec les menus ci-dessous !</p>
</div>
<div class="container mt-2 pt-lg-2 pb-5">
  <div class="d-none d-sm-none d-md-block d-lg-block">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            🗓 Mes évènements prévus 
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Titre</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Candidatures</th>
                  <th scope="col">Plus...</th>
                </tr>
              </thead>
              <tbody>
                <% @performances.all.each do |performance| %>
                  <tr class="table-active">
                    <td><%= performance.name %></td>
                    <td><%= performance.date_time %></td>
                    <% if performance.public_event? %>
                      <td>Évènement public</td>
                    <% else %>
                      <td>Évènement privé</td>
                    <% end %>
                    <td><%= performance.applications.length %></td>
                    <td><%= link_to "Voir details", performance_path(performance.id) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ✅ Candidatures acceptées
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Evènement</th>
                  <th scope="col">Profil</th>
                  <th scope="col">Date</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <% @performances.all.each do |performance| %>
                  <% performance.applications.all.each do |application| %>
                    <% if application.status == "accepted" %>
                      <tr class="table-active">
                        <td><%= application.display_status %></td>
                        <td><%= application.artist_profile.name %></td> 
                        <td><%= application.performance.name %></td>
                        <td><%= link_to "profil de l'artiste", artist_profile_path(application.artist_profile.id) %></td>
                        <td><%= application.performance.date_time %></td>
                        <td><%= link_to "voir candidature", performance_application_path(performance_id: performance.id, id: application.id) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ⏳ Candidatures en attente 
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Evènement</th>
                  <th scope="col">Profil</th>
                  <th scope="col">Date</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <% @performances.all.each do |performance| %>
                  <% performance.applications.all.each do |application| %>
                    <% if application.status == "pending" %>
                      <tr class="table-active">
                        <td><%= application.display_status %></td>
                        <td><%= application.artist_profile.name %></td>
                        <td><%= application.performance.name %></td>
                        <td><%= link_to "profil de l'artiste", artist_profile_path(application.artist_profile.id) %></td>
                        <td><%= application.performance.date_time %></td>
                        <td><%= link_to "voir candidature", performance_application_path(performance_id: performance.id, id: application.id) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-sm-block d-md-none">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Mes évènements prévus
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <% @performances.all.each do |performance| %>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>                
                  <tr class="table-active">
                    <td><%= performance.name %></td>
                    <td><%= performance.date_time %></td>
                    <% if performance.public_event? %>
                      <td>Évènement public</td>
                    <% else %>
                      <td>Évènement privé</td>
                    <% end %>
                    <td><%= link_to "Voir", performance_path(performance.id) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Candidatures acceptées
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <% @performances.all.each do |performance| %>
              <% performance.applications.all.each do |application| %>
                <% if application.status == "accepted" %>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                      </tr>
                    </thead>              
                  <tbody>
                    <tr class="table-active">
                      <td><%= application.artist_profile.name %></td>
                      <td><%= application.performance.name %></td>
                      <td><%= application.performance.date_time %></td>
                      <td><%= link_to "voir", artist_profile_path(application.artist_profile.id) %></td>
                    </tr>           
                  </tbody>
                </table>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Candidatures en attente
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @performances.all.each do |performance| %>
                  <% performance.applications.all.each do |application| %>
                    <% if application.status == "pending" %>
                      <tr class="table-active">
                        <td><%= application.artist_profile.name %></td> 
                        <td><%= application.performance.name %></td>
                        <td><%= application.performance.date_time %></td>
                        <td><%= link_to "voir", performance_application_path(performance_id: performance.id, id: application.id) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-evenly align-items-center flex-sm-column flex-lg-row flex-wrap">
    <%= link_to "Voir mon profil", venue_profile_path(current_user.venue_profile.id), class:"btn btn-info btn-lg px-4 mt-3 mt-lg-5" %>
    <%= link_to "Voir la liste des Artistes", artist_profiles_path, class:"btn btn-lg btn-info px-2 px-lg-4 mt-3 mt-lg-5" %>
  </div>
</div>
