<div class="container h-100 py-2">
  <div class="mb-2">
    <%= link_to "Retour au profil", artist_profile_path %>
  </div>
  <div class="mb-4">
    <h3 class="mb-0 text-white">Modifier la performance : </h3>
  </div>

  <div class="card rounded-3 mb-5">
    <div class="card-body d-flex flex-rtist_profilesm-column flex-lg-row flex-wrap justify-content-around">
      <div class="flex-column col-sm-11 col-lg-5 mx-2">
        <%= form_with(url: performance_path(@performance.id), method: "patch", local: true) do |f| %>

          <fieldset>  
            <div class="form-group">
              <%= f.label :name, "Nom de la performance", class: "form-label mt-4" %>
              <%= f.text_field :name, class: "form-control", value: @performance.name %>
            </div>

            <div class="form-group">
              <%= f.label :description, "Description de la performance :", class: "form-label mt-4" %>
              <%= f.text_area :description, class: "form-control", value: @performance.description %>
            </div> 

            <div class="form-group">
              <%= f.label :date, "Date de la performance", class: "form-label mt-4" %>
              <%= f.datetime_field :date, class: "form-control", :value => @performance.date.to_s(:db) %>
            </div>

            <div class="form-group">
              <%= f.label :duration, "Durée", class: "form-label mt-4" %>
              <%= f.number_field :duration, class: "form-control", value: @performance.duration %>
            </div>

            <div class="form-group">
              <%= f.label :type_of_event, "Type d'évènement", class: "form-label mt-4" %>
              <%= f.select(:type_of_event, [["Public", :public_event], ["Privé", :private_event]], {}, { :class => "form-select", :id => "exampleSelect1" }) %>
            </div>

            <div class="d-flex justify-content-center mt-4 mb-2">
              <%= f.submit "Modifier la performance", class: "btn btn-primary" %>
            </div>

          </fieldset>

        <% end %>
      </div>
      <div class="align-items-center col-sm-11 col-lg-5 mx-2 my-auto">
        <%= image_tag "edit_performance.jpg", alt:"on stage", style: "width: 100%"%>
      </div>
    </div>
  </div>
</div>
