<div class="container h-100 py-2">
  <div class="mb-4">
    <% if current_user.is_artist %>
      <%= link_to "Retour", performances_path %>
    <% else %>
      <%= link_to "Retour", dashboard_path(current_user.id) %>
    <% end %>
  </div>
  <div class="container mt-4 card p-0 mb-5">
    <div class="event_header d-flex flex-row flex-wrap">
      <div class="col-md-8 p-0">
        <%= image_tag "performance.jpg", style: "width: 100%; border-top-left-radius: 8px"%>
      </div>
      <div class="col-md-4 p-3 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-4"><%= @performance.name %></h1>
        <h3><%= @performance.date.strftime("%d/%m/%Y à %H:%M")%></h3>
        <h4><%= @performance.duration%> minutes</h4>
        <h5><%= @performance.venue_profile.city %> (<%= @performance.venue_profile.zipcode.byteslice(0,2) %>)</h5>
      </div>
    </div>
    <div class=" d-flex flex-row flex-wrap" style="border-bottom: 1px solid rgba(255, 255, 255, 0.231); border-top: 1px solid rgba(255, 255, 255, 0.231)" >
      <div class="col-lg-8 col-md-4 py-3 ps-5 d-none d-sm-block">
        <div class="rox d-flex align-items-center">
          <h5><% @performance.genres.each do |genre| %>
            <%= genre.title %>
          <% end %></h5>
        </div>
        <% if current_user.is_venue %>
            <% if @performance.venue_profile_id == current_user.venue_profile.id %>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <%= link_to "Modifier mes genres", new_performance_performance_genre_path(performance_id: @performance.id), class:"btn btn-secondary btn-sm" %>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="col-lg-4 col-md-8 p-3">
        <% if current_user.is_venue %>
          <% if @performance.venue_profile_id == current_user.venue_profile.id %>
            <div class="d-flex justify-content-between align-items-center mb-3 flex-sm-column flex-lg-row flex-wrap">
              <%= link_to "Modifier l'évènement", edit_performance_path(@performance.id), class:"btn btn-secondary my-1" %>
            </div>
          <% end %>
        <% else %>
          <% if current_user.artist_profile.performances.include?(@performance)%>
            <p class="btn btn-danger disabled my-1">Vous avez déjà postulé</p>
          <% else %>
            <%= link_to "Postuler !", new_performance_application_path(performance_id: @performance.id), class:"btn btn-danger my-1" %>
            <% end %>
        <% end %>
      </div>


      <div class="col-lg-4 col-md-8 p-3">
        <h5>Ils ont postulé:</h5> 

      </div>


    </div>
    <div class="row" >
      <div class="col-md-8 p-4">
        <h3>A propos</h3>
        <p><%= @performance.description%></p>
      </div>
      <div class="col-md-4 p-3 ">
        <p>contact: <%= @performance.venue_profile.user.email%></p>
        <p>
          <% if @performance.public_event? %>
            <p>Évènement public</p>
          <% else %>
            <p>Évènement privé</p>
          <% end %>
        </p>
        <% if current_user.is_venue %>
          <% if @performance.venue_profile_id == current_user.venue_profile.id %>
            <p>Cet évènement a lieu chez vous !</p>
          <% else %>
            <%= link_to "voir le profil de l'établissement", venue_profile_path(@performance.venue_profile.id) %>
          <% end %>
          <% elsif current_user.is_artist %>
          <%= link_to "voir le profil de l'établissement", venue_profile_path(@performance.venue_profile.id) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
